.App {
  text-align: center;
}

.LoginButton,
.LogoutButton,
.ButtonGroup {
  margin-bottom: 20px;
}

.ButtonGroup button {
  margin-right: 10px;
}

.ImageContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

.ImageContainer img {
  max-width: 100%;
  height: auto;
}
