body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f2f5;
  color: #333;
}

.App {
  text-align: center;
  padding: 20px;
}

h1, h2 {
  color: #4A90E2;
}

button {
  background-color: #4A90E2;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #357ABD;
}

.LoginButton,
.LogoutButton,
.ButtonGroup {
  margin-bottom: 20px;
}

.ButtonGroup button {
  margin-right: 10px;
}

.ImageContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

.ImageContainer div {
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ImageContainer img {
  max-width: 100%;
  height: auto;
}

.SingleImageContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.SingleImageContainer img {
  max-width: 80%;
  height: auto;
}

.SavedImagesContainer, .HistoryContainer {
  text-align: left;
  margin: 0 auto;
  max-width: 800px;
}

.SavedImagesContainer h2, .HistoryContainer h2 {
  text-align: center;
}

.SavedImagesContainer img, .HistoryContainer img {
  width: 100px;
  height: auto;
  margin-right: 10px;
  vertical-align: middle;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button img {
  width: 24px;
  height: auto;
  vertical-align: middle;
  margin-right: 8px;
}
